:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto''Poppins', sans-serif;
  font-weight: 900;
}

body {
  min-width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-image: url(./assets/FUNDO.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.5rem;
  color: #784b44;
}

/* Esilização do header */

header {
  min-width: 100%;
  position: sticky;
  top: 0;
  background-color: #eebcb4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#imgs-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
  padding: 0.5rem;
}

#simbolo-marca {
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#simbolo-marca>img {
  width: 13rem;
  justify-self: flex-start;
}

#menu-icon>img {
  width: 3rem;
  height: 3rem;
}

#pesquisa {
  display: none;
  justify-content: center;
  align-items: center;
}

input {
  width: 10rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
}

#lupa {
  width: 3rem;
  height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

/* estilização da menu de navegação */

nav {
  background-color: #eebcb4;
  display: none;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}


#menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo_menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 1.7rem;
  cursor: pointer;
}

.titulo_menu a {
  text-decoration: none;
  color: #784b44;
  
}

.submenu {
  display: none;
  position: relative;
  text-align: center;
  background-color: #eebcb4;
  list-style-type: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 1.7rem;
}

.submenu li {
  margin-top: 0.5rem;
  
}

.submenu li:hover {
  position: relative;
  background-color: #d4a7a0;
  border-radius: 0.5rem;
  transition: 0.8s;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* Estilização do Main */

main {
  width: 100%;
  box-sizing: border-box;
  height:calc(100vh - 23.4rem);
  padding: 1rem;


  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.imgs>#elaine1 {
  width: 14rem;
}

.imgs>#logo1 {
  width: 20rem;
}

/* Estilização do botão leads */

main a{
  position: relative;
  z-index: 950;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  right: 10rem;
  bottom: 10rem;
}

#leads {
  position: absolute;
  z-index: 900;
}

#leads img {
  width: 7rem;
}

#leads a{
  position: relative;
}

#porc {
  position: absolute;
  bottom: 5.7rem;
  left: 1rem;
  }
  

#porc p {
  position: absolute;
  font-size: 3rem;
  font-weight: 500;
  color: #784b44;
  animation: porcentagem 2s steps(3) infinite;
  white-space: nowrap;

  text-decoration: none;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes porcentagem {
  from {
    width: 0;
  }
}


/* Estilização do rodapé */

footer {
  min-width: 100%;
  background-color: #eebcb4;
  position: absolute;
  bottom: 0;
  font-size: 1.3rem;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footer1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  gap: 0.5rem;
}

#slogan{
  display: none;
}

.linha {
  width: 100%;
  border: 0.1rem solid #c25f5f31;
}


#footer1>#anc-redes {
  display: flex;
}

.redeS {
  width: 3.6rem;
  padding-left: 0.5rem;
}

#localizacao a{
  text-decoration: none;
  color: #784b44;
  cursor: pointer;
}

#footer1>#mapa>iframe {
  display: none;
  width: 25rem;
  height: 8rem;
  border-radius: 1rem;
}

#footer2 {
  background-color: #ac8782;
  font-size: 1.1rem;
  width: 100%;
}

@media(min-width:1024px) {


  /* :root {
    font-size: 62.5%;
  } */

  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } */

  body {
    max-width: 100vw;
    max-height: 100vh;
  }


  /* body {
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(./assets/FUNDO.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.5rem;
    color: #784b44;
  } */

  /* Esilização do header */

  header {
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    max-width: 100%;

  }

  /* header{
  min-width: 100%;
  position: absolute;
  top: 0;
  background-color: #eebcb4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
} */


  #imgs-header {
    gap: 0;
    padding: 0;
  }

  /* #imgs-header{
     display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
  padding: 0.5rem;
  } */


  #simbolo-marca {
    margin-left: 3rem;
    padding: 1rem;
  }

  /* #simbolo-marca{
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
  } */


  /* #simbolo-marca>img{
    width: 13rem;
    justify-self:flex-start;
    margin-left: 2rem;
  } */

  #menu-icon>img {
    display: none;
  }

  /* #menu-icon>img{
    width: 3rem;
    height: 3rem;
    margin-right: 3rem;
  } */

  /* estilização da menu de navegação */

  nav {
    display: flex;
    height: 5rem;
    font-size: 1.3rem;
  }


  /* nav{
    background-color: #eebcb4;
    display: none;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
  }  */

  #menu {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  /* #menu{    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */

  .titulo_menu {
    position: relative;
    margin-top: 0;
  }

  /* .titulo_menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1.7rem;
    cursor: pointer;
  } */

  .titulo_menu:hover .submenu {
    display: block;

  }

  /* .titulo_menu a{
    text-decoration: none;
    color: #784b44;
  } */

  .submenu {
    position: absolute;
    margin-top: 1.7rem;
    padding-top: 2rem;

  }

  /* .submenu {
    display: none;
    position: relative;
    text-align: center;
    background-color: #eebcb4;
    list-style-type: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 1rem;
  } */

  .submenu li {
    padding: 0.5rem;
  }

  /* .submenu li:hover {
    position: relative;
    background-color: #d4a7a0;
    border-radius: 0.5rem;
    transition: 0.8s;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
  } */

  .titulo_menu:hover .submenu {
    display: block;
  }

  .titulo_menu::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    height: 0.09rem;
    width: 0;
    background-color: rgb(107, 46, 46);
    transition: 0.4s;
    transform: translateX(-50%);
  }

  .titulo_menu:hover::after {
    width: 100%;
  }



  #pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  input {
    width: 17rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
  }

  #lupa {
    width: 3rem;
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
  }

  /* Estilização do Main */

  main {
    min-width: 100%;
    min-height: calc(100vh - 18rem);
    gap: 10rem;
    margin-top: 0rem;
  }

  /* main{
  width: 100%;
  box-sizing: border-box;
  min-height: calc(100vh - 41rem);
  padding: 1rem;
  
  
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  } */


  .imgs>#elaine1 {
    width: 32rem;
  }

  /* .imgs > #elaine1{
  width: 15rem;
  } */


  .imgs>#logo1 {
    width: 50rem;
    margin-top: 15rem;
    margin-right: 0rem;
  }

  /* .imgs > #logo1{
  width: 20rem;
  margin-top: 10rem;
  } */

  /* Estilização do botão leads */

  main a{
    right: 0rem;
    bottom: 12rem;
  }

/* main a{
  position: relative;
  z-index: 950;
} */

/* #leads {
  position: absolute;
  z-index: 900;
} */

/* #leads img {
  width: 10rem;
} */

/* #leads a{
  position: relative;
} */

#porc {
  bottom: 5.8rem;
  left: 0.9rem;
  } 

/* #porc {
  position: absolute;
  } */


/* #porc p {
  position: absolute;
  font-size: 4rem;
  font-weight: 500;
  color: #784b44;
  animation: porcentagem 2s steps(3) infinite;
  white-space: nowrap;

  text-decoration: none;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* @keyframes porcentagem {
  from {
    width: 0;
  }
} */


  /* Estilização do rodapé */

  footer {
    max-width: 100%;
    font-size: 1.2rem;
    align-items: stretch;
  }



  /* footer{
  min-width: 100%;
  background-color: #eebcb4;
  position: absolute;
  bottom: 0;
  font-size: 1.3rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  } */

  #footer1 {
    width: 100%;
    flex-direction: row;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }


  /* #footer1{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  
  gap: 0.5rem;
  } */

  #slogan{
    display: flex;
  }

  .linha {
    display: none;
  }

  /* .linha{
  width: 100%;
  border: 0.1rem solid #c25f5f31;
  } */


  /* #footer1> #anc-redes{
  display: flex;
  }*/
  
    /* .redeS{
  width: 3.6rem;
  padding-left: 0.5rem;
  }*/

  #footer1> #mapa >iframe{
    width: 20rem;
    display: flex;
  }
  
  /* #footer1> #mapa >iframe{
  display: none;
  width: 25rem;
  height: 8rem;
  border-radius: 1rem;
  } */

 #footer2{
  padding: 0.3rem;
 }
  /* #footer2{
    background-color: #ac8782;
    font-size: 1.1rem;
    width: 100%;
    } */

}

